/* Your custom CSS styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #333;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  main {
    padding: 20px;
  }
  
  .project {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .pagination {
    margin-top: 20px;
  }
  
  .pagination a {
    color: #333;
    text-decoration: none;
    margin-right: 5px;
  }
  
  .current-page {
    font-weight: bold;
  }

  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height based on your needs */
  }
  
  .center-item {
    text-align: center;
    margin: 0 auto;
  }
  